@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
:root {
    --bg: white;
    --color: black;
    --linkcolor: blue;
    --bgbox: lightsalmon;
}

body {
    background-color: var(--bg);
    color: var(--color);
    font-family: 'Open Sans', sans-serif;
}
  
.main {
    display: flex;
    justify-content: center;
 }
  
.titulo {
    padding: 8px;
    text-align: center;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
  
.box {
    padding: 10px;
    margin: 0 10px 0 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--bgbox);
    border-radius: 0.5em;
    width: 30vw;
    height: auto;
    color: var(--color);
}
  
.btn {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: coral;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0.5em;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 14px;
    box-shadow: none;
}
  
.btn:hover {
    font-size: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

.btn:hover::after {
    font-size: 14px;
    box-shadow: none;
}

.text-input {
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.5em;
    width: 100%;
    height: 150px;
    text-transform: lowercase;
    resize: none;
    font-size: clamp(130%, 130%, 130%);
    color: var(--color);
    background-color: var(--bg);
}

footer {
    color: var(--color);
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: small;
}

footer a {
     color: var(--linkcolor);
}
  
.logo {
    display: block;
    height:90px;
    margin: 3px auto 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --color: white;
        --linkcolor: turquoise;
        --bgbox: gray;
    }
}

@media screen and (max-width: 440px) {
    .main, .box {
        display: block;
        padding: 10px;
        margin: 8px auto;
        width: auto;
    }
}